<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImageCrash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B57FC7C51D76FB1B00F7BEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B57FC7D91D76FB1B00F7BEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B57FC7E41D76FB1B00F7BEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
